<h1>Perfil</h1>

<div class="mb-3">
    Primerio nome: <%= @user.first_name %>
</div>
<div class="mb-3"> 
    Último nome: <%= @user.last_name %>
</div>
<div class="mb-3"> 
    Email: <%= @user.email_address %>
</div>

<%= link_to "Editar Perfil", edit_profile_path, {class: "btn btn-primary"} %>

<%= link_to "Voltar", posts_path, {class: "btn btn-secondary"} %>  

