<h1>Login</h1>

<div class="row mt-4">
  <%= form_with url: session_path do |form| %>
    <div class="mb-3">
      <%= form.label "Email", {class: "form-label"} %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label "Senha", {class: "form-label"} %>
      <%= form.password_field :password, required: true, autocomplete: "current-password", maxlength: 72, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.submit "Login", {class: "btn btn-primary"} %>
    </div>
  <% end %>
</div>

<%= link_to "Esqueceu sua senha?", new_password_path %>
