<h1>Esqueceu sua senha?</h1>

<%= form_with url: passwords_path do |form| %>
  <div class="mb-3">
    <%= form.label "Digite seu email", {class: "form-label"} %>
    <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", value: params[:email_address], class: "form-control" %>
  </div>
  <div>
    <%= form.submit "Enviar instruções de redefinição", {class: "btn btn-primary"} %>
  </div>
<% end %>

<%= link_to "Voltar", new_session_path, {class: "btn btn-secondary mt-2"} %>
