<%= form_with model: post do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>

    <div>
        <%= form.label :content %>
        <%= form.textarea :content %>
    </div>

    <div id="tags-input-wrapper">
        <%= form.hidden_field :post_tags, {id: "tags-value-input", value: post.post_tags.map(&:name).join(",")} %>
    </div>

    <div>
        <%= form.submit %>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/JoaoG250/bootstrap-tags-input@main/dist/bootstrap-tags-input.umd.js"></script>

    <script>
        const inputController = new BootstrapInputController(document.getElementById("tags-value-input"));
        const bootstrapTagsInput = new BootstrapTagsInput({
            onTagAdded: (tag) => {
                inputController.addTag(tag);
            },
            onTagRemoved: (tag) => {
                inputController.removeTag(tag);
            },
            initialTags: inputController.getTags(),
        });
        document.getElementById("tags-input-wrapper").appendChild(bootstrapTagsInput.rootElement);
    </script>
<% end %>
