<%= form_with model: post do |form| %>
    <div class="mb-3">
        <%= form.label "Título", {class: "form-label"} %>
        <%= form.text_field :title, {class: "form-control"} %>
    </div>

    <div class="mb-3">
        <%= form.label "Conteúdo", {class: "form-label"} %>
        <%= form.textarea :content, {class: "form-control"} %>
    </div>

    <div class="mb-3">
        <%= form.label "Tags", {class: "form-label"} %>
        <div id="tags-input-wrapper">
            <%= form.hidden_field :post_tags, {id: "tags-value-input", value: post.post_tags.map(&:name).join(",")} %>
        </div>
    </div>

    <div>
        <%= form.submit submit_text, {class: "btn btn-primary"} %>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/JoaoG250/bootstrap-tags-input@main/dist/bootstrap-tags-input.umd.js"></script>

    <script>
        var tagsInputWrapper = document.getElementById("tags-input-wrapper");
        if (!tagsInputWrapper.querySelector(".bootstrap-tags-input")) {
            var inputController = new BootstrapInputController(document.getElementById("tags-value-input"));
            var tagsInput = new BootstrapTagsInput({
                onTagAdded: (tag) => inputController.addTag(tag),
                onTagRemoved: (tag) => inputController.removeTag(tag),
                initialTags: inputController.getTags(),
            });
            tagsInputWrapper.appendChild(tagsInput.rootElement);
        }
    </script>
<% end %>
