<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% if authenticated? %>
    <%= link_to "New post", new_post_path %>
<% end %>

<h1>Post</h1>
<div class="alert alert-primary" role="alert">
  This is a primary alert—check it out!
</div>

<%= form_with url: posts_path, method: :get do |form| %>
  <%= form.text_field :post_title, {class: "form-control"} %>
  <div id="tags-input-wrapper">
    <%= form.hidden_field :post_tags, {id: "tags-value-input"} %> 
  </div>
  <%= form.submit "Search", {class: "btn btn-primary"} %>
<% end %>


<div id="post">
  <% @posts.each do |post|%>
    <div>
     <%= link_to post.title, post %>
    </div>
  <% end %>
  
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <% if params[:page].to_i > 1 %>
        <li class="page-item"><%= link_to "Previous", root_path(page: params[:page].to_i - 1), {class: "page-link"} %></li>
    <% end %>
    <% if @posts.size == @per_page %>
        <li class="page-item"><%= link_to "Next", root_path(page: (params[:page] || 1).to_i + 1), {class: "page-link"} %></li>
    <% end %>
  </ul>
</nav>

<script src="https://cdn.jsdelivr.net/gh/JoaoG250/bootstrap-tags-input@main/dist/bootstrap-tags-input.umd.js"></script>

<script>
    const inputController = new BootstrapInputController(document.getElementById("tags-value-input"));
    const bootstrapTagsInput = new BootstrapTagsInput({
        onTagAdded: (tag) => {
            inputController.addTag(tag);
        },
        onTagRemoved: (tag) => {
            inputController.removeTag(tag);
        },
        initialTags: inputController.getTags(),
    });
    document.getElementById("tags-input-wrapper").appendChild(bootstrapTagsInput.rootElement);
</script>
