<h1>Postagens</h1>

<% if authenticated? %>
    <%= link_to "Nova Postagem", new_post_path, {class: "btn btn-primary mb-4", role: "button"} %>
<% end %>

<%= form_with url: posts_path, method: :get do |form| %>
  <div class="row mb-2">
    <div class="col-12 col-md-5 mb-2">
      <%= form.text_field :post_title, {class: "form-control", placeholder: "Título"} %>
    </div>
    <div class="col-12 col-md-5 mb-2">
      <div id="tags-input-wrapper">
        <%= form.hidden_field :post_tags, {id: "tags-value-input"} %> 
      </div>
    </div>
    <div class="col-3 col-md-2 mb-2">
      <%= form.submit "Filtrar", {class: "btn btn-primary w-100"} %>
    </div>
  </div>
<% end %>

<div class="row">
  <% @posts.each do |post|%>
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="card post-card">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.content %></p>
          <%= link_to "Visualizar", post, {class: "card-link"} %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center mt-3">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <% if params[:page].to_i > 1 %>
          <li class="page-item"><%= link_to "Anterior", root_path(page: params[:page].to_i - 1), {class: "page-link"} %></li>
      <% end %>
      <% if @posts.size == @per_page %>
          <li class="page-item"><%= link_to "Próximo", root_path(page: (params[:page] || 1).to_i + 1), {class: "page-link"} %></li>
      <% end %>
    </ul>
  </nav>
</div>

<script src="https://cdn.jsdelivr.net/gh/JoaoG250/bootstrap-tags-input@main/dist/bootstrap-tags-input.umd.js"></script>

<script>
  var tagsInputWrapper = document.getElementById("tags-input-wrapper");
  if (!tagsInputWrapper.querySelector(".bootstrap-tags-input")) {
    var inputController = new BootstrapInputController(document.getElementById("tags-value-input"));
    var tagsInput = new BootstrapTagsInput({
        onTagAdded: (tag) => inputController.addTag(tag),
        onTagRemoved: (tag) => inputController.removeTag(tag),
        initialTags: inputController.getTags(),
        inputElementHtmlOptions: { placeholder: 'Tags' }
    });
    tagsInputWrapper.appendChild(tagsInput.rootElement);
  }
</script>
