<h1><%= @post.title %></h1>

<div class="row mb-4">
    <% if authenticated? and Current.user.id == @post.user.id %>
    <div class="col-2">
        <%= link_to "Editar Postagem", edit_post_path(@post), {class: "btn btn-success w-100"} %>
    </div>
    <div class="col-2">
        <%= button_to "Deletar Postagem", @post, {method: :delete, class: "btn btn-danger w-100"} %>
    </div>
    <% end %>
</div>

<div class="row mb-4">
    <div><%= @post.content %></div>
</div>

<div class="row mb-4">
    <h5>Tags</h5>
    <div class="d-flex">
        <% @post.post_tags.each do |tag| %>
            <span class="badge text-bg-secondary me-2"><%= tag.name %></span>
        <% end %>
    </div>
</div>

<div class="row mb-4">
    <h5>Comentários</h5>

    <div class="row">
        <%= form_with model: PostComment.new, url: post_comments_path do |form| %>
            <%= form.hidden_field :post_id, value: @post.id %>

            <div class="mb-3">
                <%= form.textarea :content, {class: "form-control", placeholder: "Digite aqui seu comentário"} %>
            </div>

            <div class="mb-3">
                <%= form.submit "Criar comentário", {class: "btn btn-primary"} %>
            </div>
        <% end %>
    </div>

    <% @post.post_comments.each do |post_comment| %>
        <div class="col-12 mb-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <% if post_comment.user.nil? %>
                            Convidado
                            <% else %>
                            <%= post_comment.user.first_name %>
                        <% end %>
                    </h5>
                    <p class="card-text"><%= post_comment.content %></p>
                </div>
            </div>
        </div>
    <% end %>
</div>

<%= link_to "Voltar", posts_path, {class: "btn btn-primary"} %>